<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Zotero Connector</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.92</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.Safari.extension</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).SafariExtensionHandler</string>
		<key>SFSafariContentScript</key>
		<array>
			<dict>
				<key>Script</key>
				<string>safari/node_modules.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/zotero_config.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/zotero.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/promise.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/http.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/proxy.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities/date.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities/openurl.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities/xregexp-all.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities/xregexp-unicode-zotero.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities/resource/zoteroTypeSchemaData.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities/utilities.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities/utilities_item.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/debug.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/utilities/schema.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/rdf/init.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/rdf/uri.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/rdf/term.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/rdf/identity.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/rdf/rdfparser.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/translation/translate.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/translator.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate/utilities_translate.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/translate_item.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/inject/http.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/inject/translate_inject.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/integration/connectorIntegration.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/cachedTypes.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/schema.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/messages.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/messaging_inject.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/inject/progressWindow_inject.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/inject/modalPrompt_inject.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/i18n.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/singlefile.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/inject/inject.js</string>
			</dict>
			<dict>
				<key>Script</key>
				<string>safari/inject_safari.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/lib/react.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/lib/react-dom.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/lib/prop-types.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/zotero-google-docs-integration/kixAddZoteroMenu.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/zotero-google-docs-integration/googleDocs.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/zotero-google-docs-integration/client.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/zotero-google-docs-integration/clientAppsScript.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/zotero-google-docs-integration/ui.js</string>
			</dict>
			<dict>
				<key>Allowed URL Patterns</key>
				<array>
					<string>https://docs.google.com/document/*</string>
				</array>
				<key>Script</key>
				<string>safari/zotero-google-docs-integration/document.js</string>
			</dict>
		</array>
		<key>SFSafariContextMenu</key>
		<array>
			<dict>
				<key>Command</key>
				<string>menu0</string>
				<key>Text</key>
				<string>menu0</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu1</string>
				<key>Text</key>
				<string>menu1</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu2</string>
				<key>Text</key>
				<string>menu2</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu3</string>
				<key>Text</key>
				<string>menu3</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu4</string>
				<key>Text</key>
				<string>menu4</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu5</string>
				<key>Text</key>
				<string>menu5</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu6</string>
				<key>Text</key>
				<string>menu6</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu7</string>
				<key>Text</key>
				<string>menu7</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu8</string>
				<key>Text</key>
				<string>menu8</string>
			</dict>
			<dict>
				<key>Command</key>
				<string>menu9</string>
				<key>Text</key>
				<string>menu9</string>
			</dict>
		</array>
		<key>SFSafariToolbarItem</key>
		<dict>
			<key>Action</key>
			<string>Command</string>
			<key>Identifier</key>
			<string>Button</string>
			<key>Image</key>
			<string>safari/images/toolbar/zotero-new-z-16px.png</string>
			<key>Label</key>
			<string>Zotero Connector</string>
		</dict>
		<key>SFSafariWebsiteAccess</key>
		<dict>
			<key>Level</key>
			<string>All</string>
		</dict>
		<key>SFSafariExtensionBundleIdentifiersToUninstall</key>
		<array>
			<string>org.zotero.zoteroconnectorforsafari</string>
		</array>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 Corporation for Digital Scholarship</string>
	<key>NSHumanReadableDescription</key>
	<string>Saves references to Zotero from Safari.</string>
</dict>
</plist>
